.body-content{
    display: flex;
    justify-content: center;
    align-items: center;
   .list{
    h1{
        text-align: center;
    }
    .tbl_infor{
    border-collapse: collapse;
        tr{
            height: 40px;
            th,td{
                border: 1px solid black;
                padding:7px 15px;
            }
            .wrap-btn{
                font-size: 12px;
                padding: 5px;
                margin-right: 10px;
                cursor: pointer;
                background-color: rgb(245, 208, 139);
                &:hover{
                    background-color: orange;
                }
                
            }
        }
    }
    }

   } 
.td-mess{
    max-width: 400px;
    height: 70px; /* Đặt giá trị max-height tùy thuộc vào yêu cầu của bạn */
    overflow-y: auto; /* Cho phép cuộn dọc khi nội dung vượt quá max-height */
    word-wrap: break-word;
}
.accept{
    border: none !important;
}
